/* This is a custom CSS stylesheet*/
.navbar, .navbar-default{
	text-align:center;
background-color: #009688;
border-radius:0px;
border-color:#009688;
height:150px;}

body{
	background-color: #3cb;
}

h1{
	color:#FFFFFF;
}
h4{color:RGBA(255, 255, 255, 0.65);}

.heading{
	margin-bottom: 50px;
}
a{text-decoration: none;
color: white;}

.card .card-action a{
	background-color: white;
	color: #FF4081;
	
}
.btn-info ,.navbar-btn{
	margin-right: 20px;
}
.pull-right{
	margin-right: 20px;
}