@charset "utf-8";
/* CSS Document */
.login
{
	width: 35%;
	border: 1px solid #EBEBEB;
	padding: 10px;
	background-color: #FFFFFF;
	margin-top: 12%;
	margin-right: 5%;
	margin-bottom: 0%;
	margin-left: 35%;
	box-shadow: 0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);
}
img{
	width: 100%; border-radius: 5px;
}
input[type=text]{
	width: 83%;
	border: 1px solid #DDD;
	margin: 2px 6px 16px 6px;
	padding: 3px;
	background-color: #FFFFFF;
	font-size: 15px;
	background: none repeat scroll 0% 0% #FBFBFB;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07) inset;	
}
input[type=password]{
	width: 83%;
	border: 1px solid #CCC;
	margin: 2px 6px 16px 6px;
	padding: 3px;
	background-color: #FFFFFF;
	font-size: 15px;
	background: none repeat scroll 0% 0% #FBFBFB;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07) inset;
}
input[type=text]:focus{
	box-shadow:0px 0px 2px rgba(30, 140, 190, 0.8);}
#signin{
	font-family:Roboto;
	color:#09C;
}
input[type=submit]
{
	margin-left: 70%;
	margin-bottom: 25px;
	width: 25%;
	padding: 7px;
	border: 1px solid #09C;
	background-color: #09C;
	color: #FFFFFF;
	font-size: 15px;
	cursor: pointer;
}
#submit:hover
{
	box-shadow: 0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);
	background-color: #06C;
	border-color: #06C;
	font-family: Roboto;
}
label{
	font-family: Roboto;
	color: #666;
	margin: 2px 6px 16px 6px;
	}

#login1{
	font-family:Roboto;}
h1{
	color: #F66;
	border-top-color: #fff;
	font-family: Roboto;
}
h4{
	color: #999999;
}
